<!doctype html>
{% load static %}

{% block body %}

{% include 'provider_navigation.html' %}

<script>
    function checkpass(){
        if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value){
            alert('New Password and confirm password does not match');
            document.changepassword.confirmpassword.focus();
            return false;
        }
        return true;
    }
</script>
<marquee style="font-family:'Monotype Corsiva';font-size:25px; color:darkcyan; background-color:black;font-weight:bold;margin-top:1%">
    Service Provider Change Password
</marquee>
<hr>
<form class="container mt-5" method="post" name="changepassword" onsubmit="return checkpass()">

    {%  csrf_token %}    
    <label>Current Password</label>
    <input type="text" class="form-control" name="currentpassword" required="true">

    <label>New Password</label>
    <input type="text" class="form-control" name="currentpassword" required="true">

    <label>Confirm New Password</label>
    <input type="text" class="form-control" name="currentpassword" required="true">


     
    <input type="submit" class="btn btn-primary" style="margin-top:2%; color:darkcyan;background-color:black;height:40px;">

</form>
{% if error == "no" %}
<script>
    alert("Status Changed Successful!");
    window.location = "{% url 'provider_logout' %}";
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong. Please try again!");
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert("Your Current Password is Worng!");
</script>
{% endif %}

{% endblock %}
